:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-filme{
    height: 100%;
    width: 100%;
}

.carrosel-filmes{
    margin-top: 10px;
}